force-app/main/default/flows/Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Create_Error</name>
        <label>Set Create Error</label>
        <locationX>578</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Existing_Contact_Output</name>
        <label>Set Existing Contact Output</label>
        <locationX>578</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Missing_Fields_Error</name>
        <label>Set Missing Fields Error</label>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First name and email are required</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_New_Contact_Output</name>
        <label>Set New Contact Output</label>
        <locationX>710</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Required_Fields</name>
        <label>Check Required Fields</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Missing_Fields_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Required Fields</defaultConnectorLabel>
        <rules>
            <name>Has_Required_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Contact</targetReference>
            </connector>
            <label>Has Required Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_Check</name>
        <label>Contact Exists Check</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Create_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Contact_Output</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <description>Creates a new Contact record for customer identity capture</description>
    <interviewLabel>Create Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>578</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Set_New_Contact_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Contact</name>
        <label>Check Existing Contact</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>existingContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Required_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
